{
  "root": true,
  "parser": "@babel/eslint-parser",
  "extends": ["alloy"],
  "plugins": ["prettier"],
  "globals": {},
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "commonjs": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "rules": {
    "no-debugger": 2,
    "no-unused-vars": 1,
    "no-param-reassign": 0,
    "no-irregular-whitespace": 0,
    "no-useless-catch": 1,
    "max-params": ["error", 3],
    "array-callback-return": 1,
    "no-var": 2,
    "prefer-const": 2,
    "eqeqeq": 0,
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ]
  }
}
