# .prettierignore 文件配置或者 CLI 设置 --ignore-path 选项。
*.min.js

/node_modules
/dist

# OS
.DS_Store
.idea
.editorconfig
.npmrc
package-lock.json

# Ignored suffix
*.log
*.md
*.svg
*.png
*ignore


## Built-files
.cache
.eslintcache
dist
